Repository BitsOfAByte/HoldMyKeys, changes with the labels that .github/labeler.yml gives for each.
All labels: changes | docs, changes | ci, changes | lib, changes | tests

ci: tidy up ci
  .github/workflows/CodeQL.yml
  .github/workflows/codeql.yml
  .github/workflows/daily-schedule.yml
  .github/workflows/interactions.yml
  .github/workflows/release.yml
  .github/workflows/sync.yml
  .github/workflows/tests.yml
  .github/workflows/version.yml
Labels: changes | ci

refactor: use ternary operators for short calls
  lib/index.ts
Labels: changes | lib

refactor: more ternary changes
  lib/index.ts
Labels: changes | lib

refactor: use ternary operators for short calls (#7)
  lib/index.ts
Labels: changes | lib

docs: small readme tweaks
  README.md
Labels: changes | docs

.github/labeler.yml:

changes | repo:
- all: ['*', '!*.md']

changes | docs: 
- '**/*.md'

changes | ci:
  - '.github/workflows/**/*'

changes | lib:
- any: ['lib/**/*', '!lib/tests/**/*']

changes | tests:
- '__tests__/**/*'

changes | deps:
- all: ['package.json', 'yarn.lock']
