Repository BitsOfAByte/HoldMyKeys, changes with the labels that .github/labeler.yml gives for each.
All labels: changes | repo, changes | docs, changes | ci, changes | lib, changes | tests

ci(sync): add sync
  .github/sync.yml
Labels: none

chore(sync): move file to workflow dir
  .github/workflows/sync.yml
Labels: changes | ci

ci(sync): add sync
  .github/workflows/sync.yml
Labels: changes | ci

Update sync.yml
  .github/workflows/sync.yml
Labels: changes | ci

ci(interactions): only run greet on "opened"
  .github/workflows/interactions.yml
Labels: changes | ci

Update interactions.yml
  .github/workflows/interactions.yml
Labels: changes | ci

docs: Add saveIfNotExists method
  README.md
Labels: changes | repo, changes | docs

feat: Add .saveIfNotExists()
  lib/index.ts
  lib/tests/package.test.ts
  lib/types/index.d.ts
Labels: changes | lib, changes | tests

.github/labeler.yml:

changes | repo:
- '*'

changes | docs: 
- '**/*.md'

changes | ci:
  - '.github/workflows/**/*'

changes | lib:
- any: ['lib/**/*', '!lib/tests/**/*']

changes | tests:
- 'lib/tests/**/*'

changes | deps:
- all: ['package.json', 'yarn.lock']
